@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
*,html{
    box-sizing: border-box;
}
body{
    
    background-color: rgb(242, 244, 245);
}
.box{
    position: relative;
    width:100%;
    height: 600px;
    padding:auto;
    margin: auto;
    overflow: hidden;
}

.box:nth-child(odd){
    background-color: rgb(228, 242, 252);
}

.tst-box{
    position: relative;
    width: 40%;
    height: 400px;
    background-color: aliceblue;
    float:left;
    left:0;
    right:0;
    top:0; 
    margin: 100px 30px; 
    padding: 5px;
    border: 1px solid black;
}

.mainVideo{
    position:absolute;
    background-size: cover;
    width: 100%;
    height: auto;
    margin: auto;
}

.v-box{
    text-align: center;
    /* display: inline-block; */
    line-height: 300px;
}

.v-box > p{
    position: relative;
    color: rgb(235, 211, 174);
    display:inline-flex;
    line-height: 90px;
    font-family: 'Inconsolata', monospace;
    font-size:35px;
    background-color:#5d56534d;
}
footer{
    position: relative;
    width: 100%;
    height:550px;
    background: rgb(228, 226, 236);
}
